<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

<head>
  <link rel="preload" as="image" href="https://api.evaevents.com/images/eva-events-logo-linear.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<div style="
      display: none;
      overflow: hidden;
      opacity: 0;
      max-height: 0;
      max-width: 0;
    ">
  <!-- Join zenorocha on Vercel
    <div>Image here​</div> -->
</div>

<body style="
      background-color: #fbfbfb;
      font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    ">
  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
        max-width: 37.5em;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        padding: 40px;
        padding-top: 30px;
        width: 100%;
        max-width: 650px;
        background: #ffffff;
      ">
    <tbody>
      <tr style="width: 100%">
        <td>
          <div>
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
              style="margin-top: 32px">
              <tbody>
                <tr>
                  <td>
                    <img alt="eva events logo" src="https://api.evaevents.com/images/eva-events-logo-linear.png"
                      style="
                          display: block;
                          outline: none;
                          border: none;
                          text-decoration: none;
                          margin: 0 auto;
                          width: 100%;
                          max-height: 68px;
                          max-width: 165px;
                          margin-bottom: 30px;
                          object-fit: contain;
                        " />
                  </td>
                </tr>
              </tbody>
            </table>
            <h1 style="
                  padding: 0;
                  margin: 30px 0;
                  margin-top: 15px;
                  font-weight: 400;
                  text-align: center;
                  color: #111;
                  font-size: 24px;
                ">
              <!-- Welcome to <strong>Eva Events</strong> -->
              Your password reset
            </h1>

            <p style="
                font-size: 14px;
                margin: 42px 0;
                color: #181818;
              ">
              There was a request to reset your password. Click below to reset or follow

              </br>
              <a href="{reset_password_link}" style="color: #000000; text-decoration: underline"
                target="_blank">{reset_password_link}</a>

            </p>
          </div>

          <a href="{reset_password_link}" style="background-color: #4e4e4e;
          text-align: center;
          font-size: 13.33px;
          text-decoration: none;
          font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  padding: 13px 10px;
          border: 1px solid #eaeaea;
          color: #ffffff;
          border-radius: 6px;
          margin: 0px auto;
          display:block;
          cursor: pointer;" target="_blank">
            
              Reset Password
            
          </a>

          <p style="
                  font-size: 14px;
                  margin: 42px 0;
                  color: #181818;
                ">
            If you did not request this, please ignore this email or contact
            <a href="" style="color: #000000; text-decoration: none" target="_blank">support@eva-events.com</a>

          </p>
          </div>


        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>