<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

<head>
  <link rel="preload" as="image" href="https://api.evaevents.com/images/eva-events-logo-linear.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />

  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<div style="
      display: none;
      overflow: hidden;
      opacity: 0;
      max-height: 0;
      max-width: 0;
    "></div>

<body style="
      background-color: #fbfbfb;
      font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    ">
  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
        max-width: 37.5em;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        padding: 40px;
        padding-top: 30px;
        width: 100%;
        max-width: 650px;
        background: #ffffff;
      ">
    <tbody>
      <tr style="width: 100%">
        <td>
          <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
              <tr>
                <td>
                  <img alt="eva events logo" src="{event_logo_url}" style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        margin: 0 auto;
                        width: 100%;
                        max-height: 68px;
                        max-width: 165px;
                        margin-bottom: 60px;
                        object-fit: contain;
                      " />

                  <div>
                    <p style="
                          font-size: 14px;
                          font-weight: 800;
                          text-align: center;
                          color: #181818;
                        ">
                      {event_title}
                    </p>
                  </div>
                  <img alt="eva events logo" src="{event_poster_url}" style="
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        margin: 5px;
                        height: 150px;
                        object-fit: cover;
                      " />
                </td>
              </tr>
            </tbody>
          </table>
          <p style="
                margin-top: 40px;
                font-weight: 400;
                text-align: center;
                color: #000000;
                font-size: 24px;
              ">
            Cancellation
          </p>

          <div style="width: 100%">
            <p style="font-size: 14px; color: #181818">
              {user_who_cancelled_the_meeting} of {user_company_name_who_cancelled_the_meeting} has cancelled with
              {user_with_whom_meeting_is} of {user_company_name_with_whom_meeting_is}
            </p>
          </div>

          <div style="
                border-radius: 14px;
                background-color: #fafafa;
                margin-top: 5px;
              ">
            <div style="padding: 26px 18px 20px 18px">
              <div>
                <p style="
                      width: 100%;
                      font-size: 14px;
                      font-weight: 800;
                      color: #181818;
                    ">
                  {user_who_cancelled_the_meeting}
                </p>
                <p style="font-size: 14px; color: #181818">{user_company_name_who_cancelled_the_meeting}</p>
              </div>

              <p style="font-size: 14px; color: #E8A2A2; font-weight: bold; margin-bottom: 10px; margin-top: 10px;">has
                cancelled with</p>

              <div>
                <p style="
                      width: 100%;
                      font-size: 14px;
                      font-weight: 800;
                      color: #181818;
                    ">
                  {user_with_whom_meeting_is}
                </p>
                <p style="font-size: 14px; color: #181818">{user_company_name_with_whom_meeting_is}</p>
              </div>


              <div style="margin-top: 35px">
                <p style="font-size: 14px; font-weight: 800; color: #181818">
                  {meeting_date}
                </p>
                <p style="font-size: 14px; font-weight: 800; color: #181818">
                  {meeting_time} at {meeting_location}
                </p>
              </div>
              <p style="
                    font-size: 14px;

                    color: #181818;
                    margin-top: 40px;
                  ">
                Comments:
              </p>
              <p style="
                    font-size: 14px;

                    color: #181818;
                    margin-top: 14px;
                  ">
                {comments}
              </p>
            </div>
          </div>

          <div>
            <img alt="eva events logo" src="https://api.evaevents.com/images/eva-events-logo-linear.png" style="
                  display: block;
                  margin: 0 auto;
                  width: 70.82px;
                  height: 18.72px;
                  margin-top: 50px;
                  object-fit: contain;
                " />
          </div>

          <div>
            <p style="
                  font-size: 10px;

                  margin-top: 30px;
                  color: #a3a3a3;
                ">
              You were sent this invitation as you were previously an attendee
              or associated with a company at one of our past events. If you
              do not wish to receive notifications then
              <a href="" style="color: #a3a3a3; text-decoration: underline" target="_blank">please click here to
                unsubscribe</a>
              and we will remove you from our database.
            </p>
          </div>
          <div>
            <p style="font-size: 10px; color: #a3a3a3">
              EVA CRM is a subsidiary of Eva International Media Ltd. Based in
              England and Wales. Register Company No. 2323023. For more
              information, visit
              <a href="" style="color: #a3a3a3; text-decoration: underline" target="_blank">www.evacrm.com/about</a>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>